{% extends 'base.html' %}
{% block title %}用户权限管理{% endblock %}
{% block index %}{% endblock %}
{% block content %}
    {% block add_permission %}
        <form method="post" action="{{ url_for('add_permission') }}">
            <input type="text" name="user_id" placeholder="用户ID">
            <select name="agent_id">
                <option value=""></option>
                {% for combo in combos %}
                    <option value="{{ combo.agent_id }}">{{ combo.combo_name }}</option>
                {% endfor %}
            </select>
            <input type="number" name="margin" placeholder="当天可使用次数" min="0" step="1">
            <input type="datetime-local" name="expire_time" placeholder="套餐过期时间">
            <button type="submit">添加用户</button>
        </form>
    {% endblock %}

    <div style="display: flex; justify-content: space-between;margin-top: 15px">
            <form method="get" action="{{ url_for('search_permission') }}">
                <input type="text" name="user_id" placeholder="用户ID">
                <button type="submit">搜索</button>
            </form>
            <form method="get" action="{{ url_for('search_permission') }}">
                <select name="agent_id">
                    <option value=""></option>
                    {% for combo in combos %}
                        <option value="{{ combo.agent_id }}">{{ combo.combo_name }}</option>
                    {% endfor %}
                </select>
{#                <input type="text" name="agent_id" placeholder="应用ID">#}
                <label><input type="checkbox" name="expire_time" value="True" checked>付费用户</label>
                <button type="submit">检索</button>
            </form>
        {% block paginat %}
            {% include 'perm_paginat.html' %}
        {% endblock %}
    </div>
    {% block permission %}
        <table>
            <thead>
            <tr>
                <th>权限ID</th>
                <th>用户ID</th>
                <th>应用ID</th>
                <th>当天/昨天余量</th>
                <th>套餐过期时间</th>
                <th>上次使用时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for permission in permissions.items %}
                <tr>
                    <td>{{ permission.id }}</td>
                    <td>{{ permission.user_id }}</td>
                    <td>{{ permission.agent_id }}</td>
                    <form method="post" action="{{ url_for('update_permission', id=permission.id) }}">
                        <td><input type="number" name="margin" value="{{ permission.margin }}" min="0" step="1"></td>
                        <td><input type="datetime-local" name="expire_time" placeholder="yyyy-MM-dd HH:mm:ss"
                                   value="{{ permission.expire_time }}"></td>
                        <td><input type="datetime-local" name="update_time" placeholder="yyyy-MM-dd HH:mm:ss"
                                   value="{{ permission.update_time }}"></td>
                        <td>
                            <button type="submit">更新</button>
                        </td>
                    </form>
                    <td>
                        <form method="get" action="{{ url_for('invalid_permission', permission_id=permission.id) }}">
                            <button type="submit">失效</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div style="margin: 10px; padding-top: 5px"></div>
        {% include 'perm_paginat.html' %}
        <div style="margin: 10px; padding: 10px"></div>
    {% endblock %}
{% endblock %}
