{% extends 'permission.html' %}
{% block title %}用户权限管理{% endblock %}
{% block index %}{% endblock %}

{% block paginat %}
    {% include 'sear_paginat.html' %}
{% endblock %}
{% block permission %}
    <table>
        <thead>
        <tr>
            <th>权限ID</th>
            <th>用户ID</th>
            <th>应用ID</th>
            <th>上次使用时间</th>
            <th>套餐过期时间</th>
            <th>当天/昨天余量</th>
            <th>增加期限</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for permission in permissions.items %}
            <tr>
                <td>{{ permission.id }}</td>
                <td>{{ permission.user_id }}</td>
                <td>{{ permission.agent_id }}</td>
                <td>{{ permission.update_time }}</td>
                <td>{{ permission.expire_time }}</td>
                <form method="post" action="{{ url_for('update_permission', id=permission.id, back_url=request.url) }}">
                    <td><input type="number" name="margin" value="{{ permission.margin }}" min="0" step="1"></td>
                    <td><input type="number" name="date_num" value="0" step="1"></td>
                    <td>
                        <button type="submit">更新</button>
                    </td>
                </form>
                <td>
                    <form method="POST"
                          action="{{ url_for('invalid_permission', permission_id=permission.id, back_url=request.url) }}">
                        <button type="submit">失效</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div style="margin: 10px; padding-top: 5px"></div>
    {% include 'sear_paginat.html' %}
    <div style="margin: 10px; padding: 10px"></div>
{% endblock %}


